<section class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-8" >
    <h1 class="page-header">Getting started</h1>
    <br/>
    <h2 class="page-header">First, sign up, preferably using your Sizmek email</h2>
    <br/>
    <h3>Got a good idea?</h3>
    <p>Create a new idea at the ideas board, give it a short title and a full description</p>
    <h3>And then?</h3>
    <p>If you don't want to implement it on your own, try and look around for team members to add, or wait for them to approach you, after you have a team add them to the idea through the edit button</p>
    <h3>And then???</h3>
    <p>Get Cracking! if like us you cant wait for the innovation week to start, you can get to work on it when you can, either way you get four full days starting on the 22 of june to get a proof of concept and a presentation ready to show</p>
    <h3>So when can I start packing my bags?</h3>
    <p>Hold you horses there... after you get everything ready, you get to showcase it to the innovation week judges, they will decide who wins</p>
    <h3>What if I don't have an idea?</h3>
    <p>Well, no worries. You can search for an idea you like on the board and approach the creator to join his team, great thing is, the whole team wins the prise not just the creator!!! awesome right!!</p>
    <h3>Anything else i need to know??</h3>
    <p>Always lift using your knees, never your back
        <br/>
    <span>Other then that, team are limited to 4 members and only 2 of those from the same team, that's it</span></p>
    <div>More Info on our <a href="http://wiki/display/IN/Innovation+Week">wiki page</a></div>
</section>