<section data-ng-controller="HomeController">
    <div class="coreBG"></div>
    <div class="timerContiner">
        <timer class="timerHome" end-time="1403470800000">{{days}} days, {{hours}} hours, {{minutes}} minutes and {{seconds}} seconds to go!</timer>
        <br/>
        <br/>
        <br/>
        <div class="signContainer" data-ng-hide="authentication.user">
            <h2 style="margin-left: -90px;">So What Are You Waiting For?</h2>
            <br/>
            <button ng-click="go('/signup')" class="btn btn-default">Sign Up</button>
            <button  ng-click="go('/signin')" style="margin-left: 10px" class="btn btn-default">Sign In</button>
        </div>
    </div>
    <!--<div style="height: 550px">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <div style="width:100%; height:550px;">
                    <span class="name">{{slide.user.displayName}}</span>
                    </br>
                    <span class="description">{{slide.title}}</span>
                    </br>
                    </br>
                    </br>
                    <span class="description">{{slide.content}}</span>
                    </li>
                </div>
            </slide>
        </carousel>
    </div>-->
</section>