<section  >
    <carousel class="prizesList" interval="2500">
        <slide>
            <div class="prizesSlide">
                <img src="../modules/core/img/1.png"/>
                <h1>A trip to one of Sizmek offices in the region (Europe for IL)</h1>
            </div>
        </slide>
        <slide >
            <div class="prizesSlide">
                <img src="../modules/core/img/2.png"/>
                <h1>500$ Amazon vouchers</h1>
            </div>
        </slide>
        <slide class="prizesSlide">
            <div >
                <img src="../modules/core/img/3.png"/>
                <h1>250$ Amazon vouchers</h1>
            </div>
        </slide>
    </carousel>
</section>